COPYTRADE_MODE=paper
COPYTRADE_LIVE_ENABLED=false
BEELZEBUB_HOME=E:\Beelzebub
BEELZEBUB_HOT_ROOT=E:\Beelzebub\runtime\hot
BEELZEBUB_COLD_ROOT=D:\BeelzebubData
BEELZEBUB_L3G_PAPER_LEDGER=D:\BeelzebubData\LaneIII\lane_iii_paper.sqlite3
